<nav class="breadcrumb" aria-label="Breadcrumb">
	<div class="container">
		<ol class="breadcrumb__list">
			<li class="breadcrumb__item">
				<a href="./index.html" class="breadcrumb__link">首頁</a>
			</li>
			<li class="breadcrumb__item">
				<a href="./blog.html" class="breadcrumb__link">部落格</a>
			</li>
			<li class="breadcrumb__item">
				<a href="#" class="breadcrumb__link">特別企劃</a>
			</li>
			<li class="breadcrumb__item">
				<a
					href="./blog-detail.html"
					class="breadcrumb__link breadcrumb__link--active"
					aria-current="location"
					>情人特別企劃</a
				>
			</li>
		</ol>
	</div>
</nav>
