<div class="hashtag-nav">
	<div class="container">
		<ul class="hashtag-nav__list">
			<li class="hashtag-nav__item">
				<a href="" class="hashtag-nav__link">#special</a>
			</li>
			<li class="hashtag-nav__item">
				<a href="" class="hashtag-nav__link">#event</a>
			</li>
		</ul>
	</div>
</div>
