<header class="header">
	<div class="header__wrapper">
		<a href="./index.html" class="header__link"
			><img
				src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png"
				alt="Glasses Website"
				title="Glasses Website"
				class="header__logo"
			/>
		</a>
		<nav class="main-nav">
			<ul class="main-nav__list">
				<li class="main-nav__item">
					<a href="./optical.html" class="main-nav__link">系列鏡框</a>
				</li>
				<li class="main-nav__item">
					<a href="./location.html" class="main-nav__link"
						>門市據點</a
					>
				</li>
				<li class="main-nav__item">
					<a href="./blog.html" class="main-nav__link">部落格</a>
				</li>
				<li class="main-nav__item">
					<a href="./faq.html" class="main-nav__link">常見問題</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
