<nav class="search-nav">
	<div class="container">
		<div class="search-nav__wrapper">
			<ul class="search-nav__list">
				<li class="search-nav__item">
					<a href="./blog-detail.html" class="search-nav__link"
						>最新消息</a
					>
				</li>
				<li class="search-nav__item">
					<a href="./blog-detail.html" class="search-nav__link"
						>特別企劃</a
					>
				</li>
				<li class="search-nav__item">
					<a href="./blog-detail.html" class="search-nav__link"
						>新品上市</a
					>
				</li>
				<li class="search-nav__item">
					<a href="./blog-detail.html" class="search-nav__link"
						>鏡框小知識</a
					>
				</li>
			</ul>

			<div class="search-nav__box">
				<span class="material-icons-outlined search-nav__icon">
					search
				</span>
			</div>
		</div>
	</div>
</nav>
