.container {
	// (1110 + 30 gutter), padding = gutter / 2
	max-width: calc(1110px + 30px);
	margin: 0 auto;
	padding: 0 15px;

	padding-top: 60px;
	padding-bottom: 80px;

	@include pad {
		max-width: calc(690px + 30px);
		padding-top: 40px;
		padding-bottom: 56px;
	}

	@include mobile {
		max-width: calc(345px + 30px);
		padding-top: 32px;
		padding-bottom: 40px;
	}
}

// .container {
// 	// (1110 + 30 gutter), padding = gutter / 2
// 	max-width: calc(1110px + 30px);
// 	margin: 0 auto;
// 	padding: 60px 15px 80px;
// 	// padding: 60px 0 80px;

// 	@include desktop {
// 		max-width: 992px;
// 		padding: 40px 0 56px;
// 	}

// 	@include pad {
// 		max-width: 768px;
// 		// padding: 40px 0 56px;
// 		padding: 32px 15px 40px;
// 	}

// 	@include mobile {
// 		// padding: 40px 0 56px;
// 		max-width: 568px;
// 	}

// 	// @include iphone {
// 	// 	padding-left: 15px;
// 	// 	padding-right: 15px;
// 	// }
// }
