.faq {
	&__question {
		font-size: 20px;
		font-weight: bold;
	}

	&__answer {
		margin: 0 8.6%;

		margin-top: 16px;
		margin-bottom: 32px;
		font-size: 16px;
	}
}

@include mobile {
	.faq {
		&__question {
			font-size: 16px;
		}

		&__answer {
			margin-left: 0;
			margin-right: 0;
			font-size: 14px;
		}
	}
}
