/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.mb-32 {
  margin-bottom: 32px; }

.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px; }

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 20px; } }

.text-primary {
  color: #aa0601; }

.bg-primary {
  background-color: #aa0601; }

.text-fantasy {
  color: #fbf2f2; }

.text-white {
  color: #fff; }

.text-fantasy {
  color: #fbf2f2; }

.text-bunker {
  color: #111619; }

.text-bright-red {
  color: #aa0601; }

.text-lonestar {
  color: #650300; }

.text-shark {
  color: #212529; }

.bg-fantasy {
  background-color: #fbf2f2; }

.bg-bunker {
  background-color: #111619; }

.bg-bright-red {
  background-color: #aa0601; }

.bg-lonestar {
  background-color: #650300; }

.bg-quincy {
  background-color: #5f3e2d; }

.bg-tuscany {
  background-color: #b75929; }

.text-xs {
  font-size: 12px; }

.text-sm {
  font-size: 14px; }

.text-base {
  font-size: 16px; }

.text-lg {
  font-size: 18px; }

.text-xl {
  font-size: 20px; }

.text-2xl {
  font-size: 24px; }

.text-3xl {
  font-size: 30px; }

.text-4xl {
  font-size: 36px; }

.text-5xl {
  font-size: 48px; }

.internal-title {
  color: #000;
  font-size: 48px;
  font-weight: bold;
  padding-left: 16px;
  border-left: 8px solid #9f1213;
  margin-bottom: 60px; }

.internal-subtitle {
  color: #000;
  font-size: 32px;
  margin-bottom: 36px; }

@media (max-width: 768px) {
  .internal-title {
    border-left-width: 4px;
    margin-bottom: 40px; } }

@media (max-width: 767px) {
  .internal-title {
    padding-left: 8px;
    font-size: 28px;
    margin-bottom: 28px; }
  .internal-subtitle {
    font-size: 20px;
    margin-bottom: 24px; } }

.container {
  max-width: calc(1110px + 30px);
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .container {
      max-width: calc(690px + 30px);
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .container {
      max-width: calc(345px + 30px);
      padding-top: 32px;
      padding-bottom: 40px; } }

.header {
  background-color: #aa0601; }
  .header__wrapper {
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -20px; }
  .header .main-nav__item {
    margin-left: calc(64px - 2 * 20px); }
    .header .main-nav__item:first-child {
      margin-left: 0; }
  .header .main-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 39px 20px; }
    .header .main-nav__link:hover {
      background-color: #fbf2f2;
      color: #000; }

@media (max-width: 768px) {
  .header__wrapper {
    max-width: calc(690px + 30px);
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 767px) {
  .header__wrapper {
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .header__link {
    padding: 10px 0; }
  .header__logo {
    width: 48px; }
  .header .main-nav {
    width: 100%; }
    .header .main-nav__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-right: 0; }
    .header .main-nav__item {
      margin-left: initial;
      width: 50%; }
    .header .main-nav__link {
      padding: 8px 0;
      text-align: center;
      border: 1px solid #fff; }
      .header .main-nav__link:nth-child(2n) {
        border-right: none; } }

.footer > .container {
  padding-top: 32px;
  padding-bottom: 40px; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.footer .footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer .footer-nav__item {
  margin-right: 24px; }
  .footer .footer-nav__item:last-child {
    margin-right: 0; }

.footer .footer-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 12px 0; }
  .footer .footer-nav__link:hover {
    background-color: #fbf2f2;
    color: #000; }

.footer .footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer .footer-socials__item {
  margin-left: 32px; }
  .footer .footer-socials__item:first-child {
    margin-left: 0; }

.footer .footer-socials__link:hover {
  opacity: 0.5; }

.footer .footer-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px; }
  .footer .footer-contact__item:last-child {
    margin-bottom: 0; }

.footer .footer-contact__icon {
  font-size: 48px !important;
  margin-right: 16px;
  color: #fff; }

.footer .footer-contact__link {
  display: block;
  text-decoration: none;
  font-size: 36px;
  color: #fff; }

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #fff; }

.footer .footer-copyrights__declaration {
  color: #fff;
  font-size: 16px; }

.footer .footer-copyrights__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer .footer-copyrights__item {
  margin-left: 48px; }
  .footer .footer-copyrights__item:first-child {
    margin-left: 0; }

.footer .footer-copyrights__link {
  display: block;
  text-decoration: none;
  color: #fff; }
  .footer .footer-copyrights__link:hover {
    background-color: #fbf2f2;
    color: #111619; }

@media (max-width: 768px) {
  .footer > .container {
    padding-top: 32px;
    padding-bottom: 24px; }
  .footer .footer-socials__image {
    width: 24px;
    height: 24px; }
  .footer .footer-contact__item {
    margin-bottom: 12px; }
  .footer .footer-contact__icon {
    font-size: 24px !important;
    margin-right: 8px; }
  .footer .footer-contact__link {
    font-size: 20px; }
  .footer__footer {
    margin-top: 20px;
    padding-top: 24px; }
  .footer .footer-copyrights__link {
    font-size: 14px; } }

@media (max-width: 767px) {
  .footer > .container {
    padding-top: 24px;
    padding-bottom: 24px; }
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__header {
    margin-bottom: 0; }
  .footer .footer-nav {
    display: none; }
  .footer .footer-socials__item {
    margin-left: 24px; }
  .footer .footer-socials__image {
    min-width: 24px;
    height: 24px; }
  .footer__body {
    width: 52%; }
  .footer .footer-contact__item {
    margin-bottom: 6px; }
  .footer .footer-contact__image {
    width: 20px;
    height: 20px;
    margin-right: 4px; }
  .footer .footer-contact__link {
    font-size: 16px; }
  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 24px;
    padding-top: 16px; }
  .footer .footer-copyrights__declaration {
    margin-bottom: 8px;
    font-size: 14px; }
  .footer .footer-copyrights__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .footer-copyrights__item {
    margin-left: 0;
    margin-bottom: 8px; }
    .footer .footer-copyrights__item:last-child {
      margin-bottom: 0; }
  .footer .footer-copyrights__link {
    font-size: 14px; } }

.search-nav {
  background-color: #650300; }
  .search-nav > .container {
    padding-top: 0;
    padding-bottom: 0; }
  .search-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .search-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; }
  .search-nav__item {
    margin-right: calc(48px - 2 * 16px); }
    .search-nav__item:last-child {
      margin-right: 0; }
  .search-nav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 11px 16px; }
    .search-nav__link:hover {
      background-color: #fbf2f2;
      color: #000; }
  .search-nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .search-nav__icon {
    color: #fff;
    font-size: 40px !important;
    cursor: pointer; }
    .search-nav__icon:hover {
      opacity: 0.5; }

@media (max-width: 768px) {
  .search-nav__link {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (max-width: 767px) {
  .search-nav {
    display: none; } }

.campaign__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.campaign__item {
  width: 50%; }

.campaign__image {
  width: 100%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover; }

@media (max-width: 767px) {
  .campaign__image {
    height: 148px; } }

.tabs > .container {
  padding: 0; }

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.tabs__item {
  width: calc(100% / 3); }

.tabs__link {
  text-align: center;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 32px;
  padding: 24px 0 24px;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc; }
  .tabs__link--active {
    -webkit-box-shadow: inset 0 -8px 0 0 #aa0601;
            box-shadow: inset 0 -8px 0 0 #aa0601; }
  .tabs__link:hover {
    -webkit-box-shadow: inset 0 -8px 0 0 #aa0601;
            box-shadow: inset 0 -8px 0 0 #aa0601;
    background-color: #fbf2f2; }

@media (max-width: 768px) {
  .tabs__link {
    font-size: 24px;
    padding: 12px 0; } }

@media (max-width: 767px) {
  .tabs__link {
    font-size: 14px;
    padding: 4px 0 5px; }
    .tabs__link--active {
      -webkit-box-shadow: inset 0 -4px 0 0 #aa0601;
              box-shadow: inset 0 -4px 0 0 #aa0601; }
    .tabs__link:hover {
      -webkit-box-shadow: inset 0 -4px 0 0 #aa0601;
              box-shadow: inset 0 -4px 0 0 #aa0601; } }

.pagination {
  text-align: center; }
  .pagination > .container {
    padding-top: 16px;
    padding-bottom: 160px; }
  .pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pagination__link {
    display: block;
    text-decoration: none;
    word-break: keep-all;
    color: #555;
    font-size: 18px;
    padding: 10px 16px;
    border: 1px solid #555;
    border-right: none; }
    .pagination__link:hover {
      background-color: #fbf2f2; }
    .pagination__link--next {
      border-right: 1px solid #555; }
    .pagination__link--previos, .pagination__link--next {
      padding-right: 12px;
      padding-left: 12px; }
    .pagination__link--active {
      background-color: #000;
      color: #fff; }
      .pagination__link--active:hover {
        background-color: #000; }
    .pagination__link--disabled {
      cursor: default;
      pointer-events: none; }

@media (max-width: 768px) {
  .pagination > .container {
    padding-bottom: 96px; } }

@media (max-width: 767px) {
  .pagination > .container {
    padding-bottom: 56px; } }

@media (max-width: 414px) {
  .pagination__item {
    display: none; }
    .pagination__item--previous, .pagination__item--next {
      display: block; } }

.breadcrumb {
  margin-top: 8px; }
  .breadcrumb > .container {
    padding-top: 8px;
    padding-bottom: 0; }
  .breadcrumb__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .breadcrumb__item + .breadcrumb__item:before {
    display: inline-block;
    content: '/';
    padding: 0 6px;
    color: #000; }
  .breadcrumb__link {
    color: #000;
    text-decoration: none; }
    .breadcrumb__link--active {
      color: #aa0601;
      pointer-events: none; }
    .breadcrumb__link:hover {
      text-decoration: underline; }

@media (max-width: 768px) {
  .breadcrumb__link {
    font-size: 14px; } }

@media (max-width: 375px) {
  .breadcrumb__link {
    font-size: 12px; } }

.hashtag-nav {
  margin-top: 8px; }
  .hashtag-nav > .container {
    padding-top: 0;
    padding-bottom: 0; }
  .hashtag-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .hashtag-nav__item + .hashtag-nav__item {
    margin-left: 8px; }
  .hashtag-nav__link {
    color: #aa0601;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.hashtag-aside {
  color: #aa0601; }
  .hashtag-aside__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px; }
  .hashtag-aside__icon {
    font-size: 48px !important; }
  .hashtag-aside__title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 8px; }
  .hashtag-aside__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 8px; }

@media (max-width: 768px) {
  .hashtag-nav__link {
    font-size: 14px; }
  .hashtag-aside__header {
    margin-bottom: 8px; }
  .hashtag-aside__icon {
    font-size: 24px !important; }
  .hashtag-aside__title {
    font-size: 20px;
    margin-left: 0; }
  .hashtag-aside__aside {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 0; } }

@media (max-width: 767px) {
  .hashtag-nav__link {
    font-size: 16px; }
  .hashtag-aside__aside {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px; } }

.product__link {
  display: block; }

.product__image {
  width: 100%;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover; }

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__model {
  font-size: 24px; }

.product__price {
  font-size: 24px;
  color: #aa0601; }

.product .variant__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product .variant__item {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px; }
  .product .variant__item:last-child {
    margin-right: 0; }

@media (max-width: 767px) {
  .product__image {
    height: 166px; }
  .product__model {
    font-size: 16px; }
  .product__price {
    font-size: 16px; }
  .variant__item {
    width: 16px;
    height: 16px; } }

.store__image {
  height: 224px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.store__header {
  border: 1px solid #00000020; }

.store__title {
  font-size: 24px;
  padding: 12px 24px; }

.store__body {
  border: 1px solid #00000020;
  border-top: none;
  padding: 16px 24px; }

.store__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .store__contact + .store__contact {
    margin-top: 8px; }

.store__icon {
  font-size: 24px !important;
  margin-right: 10px; }

.store__text {
  color: inherit;
  text-decoration: none;
  font-size: 20px; }

.store__footer {
  background-color: #000; }

.store__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  padding: 19px 0; }
  .store__link:hover {
    background-color: #fbf2f2; }

@media (max-width: 768px) {
  .store__image {
    height: 164px; }
  .store__title {
    font-size: 16px;
    padding: 8px 24px; }
  .store__body {
    padding: 8px 24px; }
  .store__contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .store__text {
    font-size: 14px; }
  .store__link {
    padding: 12px 0; } }

.banner {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 840px; }
  .banner__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }
  .banner__title {
    font-size: 36px; }
  .banner__subtitle {
    font-size: 64px;
    font-weight: bold; }

.trend__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.trend__item {
  width: calc((100% - (30px * 3)) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.trend__icon {
  font-size: 100px !important;
  color: #650300;
  margin-bottom: 16px; }

.trend__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px; }

.trend__copy {
  font-size: 16px; }

.classique__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.classique__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .classique__item--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .classique__item + .classique__item {
    margin-top: 32px; }

.classique__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 57.21%;
  height: 320px; }

.classique__icon {
  font-size: 48px !important;
  color: #aa0601; }

.classique__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px; }
  .classique__body--reverse {
    margin-left: 0;
    margin-right: 32px; }

.classique__title {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin-left: 10px; }

.partnership {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .partnership__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .partnership__item {
    position: relative;
    width: calc((100% - 30px) / 2); }
  .partnership__link {
    display: block; }
  .partnership__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 455px; }
  .partnership__body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(255, 255, 255, 0.5); }
    .partnership__body:hover {
      background-color: rgba(207, 210, 214, 0.5); }
  .partnership__title {
    font-size: 72px;
    font-weight: bold; }

.testimonial__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 30px * 3) / 4);
  border-radius: 4px;
  overflow: hidden; }

.testimonial__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 256px; }

.testimonial__body {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }

.testimonial__name {
  font-size: 14px;
  margin-bottom: 8px; }

.testimonial__copy {
  font-size: 16px;
  height: 72px;
  margin-bottom: 52px; }

.testimonial__date {
  font-size: 14px;
  color: #707070; }

.contact > .container {
  max-width: calc(730px + 30px); }

.contact__desciption {
  font-size: 20px;
  margin-bottom: 20px; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact__content {
  margin-bottom: 40px; }

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contact__item + .contact__item {
    margin-top: 16px; }
  .contact__item > label {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 4px; }
    .contact__item > label:last-child {
      margin-bottom: 0; }
  .contact__item > input {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #000; }
    .contact__item > input::-webkit-input-placeholder {
      opacity: 0.2; }
    .contact__item > input::-moz-placeholder {
      opacity: 0.2; }
    .contact__item > input:-ms-input-placeholder {
      opacity: 0.2; }
    .contact__item > input::-ms-input-placeholder {
      opacity: 0.2; }
    .contact__item > input::placeholder {
      opacity: 0.2; }
    .contact__item > input:focus {
      outline: none; }
  .contact__item > textarea {
    font-size: 16px;
    padding: 12px 16px 12px;
    resize: none;
    height: calc(16px * 1.5 * 5);
    background-color: #fbf2f2;
    border: 1px solid #000; }
    .contact__item > textarea:focus {
      outline: none; }
    .contact__item > textarea::-webkit-input-placeholder {
      opacity: 0.2; }
    .contact__item > textarea::-moz-placeholder {
      opacity: 0.2; }
    .contact__item > textarea:-ms-input-placeholder {
      opacity: 0.2; }
    .contact__item > textarea::-ms-input-placeholder {
      opacity: 0.2; }
    .contact__item > textarea::placeholder {
      opacity: 0.2; }
  .contact__item--flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contact__item--items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.contact__checkbox {
  width: 24px;
  height: 24px;
  margin-right: 4px; }

.contact__submit {
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 140px;
  background-color: #aa0601;
  color: #fff;
  border: none;
  cursor: pointer; }
  .contact__submit:hover {
    background-color: #500300; }

@media (max-width: 992px) {
  .classique__title {
    font-size: 36px; } }

@media (max-width: 768px) {
  .banner {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png"); }
    .banner__title {
      font-size: 20px; }
    .banner__subtitle {
      font-size: 48px; }
  .trend__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .trend__item {
    width: 255px; }
    .trend__item:nth-child(2) {
      margin-bottom: 32px; }
  .classique__item {
    margin-bottom: 8px; }
    .classique__item--reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .classique__image {
    height: 168px; }
  .classique__icon {
    font-size: 37px !important; }
  .classique__body {
    margin-left: 30px; }
  .classique__title {
    font-size: 28px;
    margin-left: 8px; }
  .partnership__image {
    height: 278px; }
  .partnership__title {
    font-size: 32px; }
  .testimonial__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .testimonial__card {
    width: calc((100% - 30px) / 2); }
    .testimonial__card:nth-child(2) {
      margin-bottom: 32px; }
  .contact > .container {
    max-width: calc(450px + 30px); }
  .contact__desciption {
    font-size: 16px;
    margin-bottom: 16px; }
  .contact__item {
    margin-bottom: 8px; }
    .contact__item > label {
      font-size: 14px;
      margin-bottom: 4px; }
    .contact__item > input {
      padding: 7px 12px;
      font-size: 14px;
      line-height: 20px; }
    .contact__item > textarea {
      font-size: 16px;
      padding: 12px 16px 12px;
      height: calc(16px * 1.5 * 5); }
  .contact__checkbox {
    width: 16px;
    height: 16px; }
  .contact__submit {
    font-size: 14px;
    line-height: 21px;
    padding: 9.5px 77px; } }

@media (max-width: 767px) {
  .banner {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png");
    background-position: 0;
    height: 394px; }
    .banner__title {
      font-size: 16px; }
    .banner__subtitle {
      font-size: 32px; }
  .trend__item + .trend__item {
    margin-top: 32px; }
  .classique__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .classique__item {
    position: relative; }
  .classique__image {
    width: 100%;
    height: 134px; }
  .classique__body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 0; }
  .classique__title {
    font-size: 28px;
    margin-left: 10px; }
  .partnership__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .partnership__item {
    width: 100%; }
    .partnership__item:first-child {
      margin-bottom: 16px; }
  .testimonial__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .testimonial__card {
    width: 100%; }
    .testimonial__card + .testimonial__card {
      margin-top: 16px; }
  .contact > .container {
    max-width: calc(345px + 30px); }
  .contact__terms {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact__submit {
    padding-right: 54.5px;
    padding-left: 54.5px; } }

.category > .container {
  padding-top: 80px;
  padding-bottom: 0; }

.category__title {
  font-size: 42px;
  text-align: center; }

.category__subtitle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px; }

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.category__list--col3 .category__item {
  width: calc( (100% - 30px * (3 - 1)) / 3); }

.category__list--col4 .category__item {
  width: calc( (100% - 30px * (4 - 1)) / 4); }

.category__item {
  margin-bottom: 104px; }

@media (max-width: 1200px) {
  .category__item {
    width: calc((100% - 30px * 2) / 3) !important;
    margin-bottom: 92px; } }

@media (max-width: 768px) {
  .category > .container {
    padding-top: 56px; }
  .category__item {
    width: calc((100% - 30px) / 2) !important;
    margin-bottom: 72px; } }

@media (max-width: 767px) {
  .category > .container {
    padding-top: 32px; }
  .category__item {
    width: 100% !important;
    margin-bottom: 32px; } }

.location .select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }
  .location .select-group__label {
    font-size: 24px;
    margin-right: 20px;
    word-break: keep-all; }
  .location .select-group__select {
    width: 324px;
    font-size: 18px;
    padding: 9px 0 9px 18px;
    border: 1px solid #ced4da; }
    .location .select-group__select:focus {
      outline: none; }

.location__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.location__item {
  width: calc((100% - (30px * 2)) / 3); }
  .location__item:nth-of-type(3n + 2) {
    margin: 0 30px 32px; }

@media (max-width: 992px) {
  .location__item {
    width: calc((100% - (15px * 2)) / 3); }
    .location__item:nth-of-type(3n + 2) {
      margin-right: 15px;
      margin-left: 15px; } }

@media (max-width: 768px) {
  .location .select-group {
    margin-bottom: 24px; }
    .location .select-group__label {
      font-size: 16px; }
    .location .select-group__select {
      width: 237px;
      font-size: 16px;
      padding: 12px 0 12px 16px; }
      .location .select-group__select > option {
        line-height: 24px; }
  .location__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .location__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 20px; }
    .location__item:nth-of-type(3n + 2) {
      margin: unset; } }

@media (max-width: 767px) {
  .location .select-group {
    margin-bottom: 20px; }
    .location .select-group__label {
      font-size: 14px;
      margin-right: 12px; }
    .location .select-group__select {
      max-width: 277px;
      width: 100%;
      font-size: 14px;
      padding: 8px 0 8px 16px; }
  .location__item {
    width: 100%;
    margin-bottom: 16px !important; } }

.location-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .location-detail__store {
    width: 41.66%; }
  .location-detail__map {
    width: calc(100% - 41.66% - 30px); }

@media (max-width: 992px) {
  .location-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .location-detail__store {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 32px; }
    .location-detail__photo, .location-detail__information {
      width: calc((100% - 30px) / 2); }
    .location-detail__map {
      width: 100%; } }

@media (max-width: 767px) {
  .location-detail__store {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .location-detail__photo, .location-detail__information {
    width: 100%; }
  .location-detail__map iframe {
    height: 50%; } }

.faq__question {
  font-size: 20px;
  font-weight: bold; }

.faq__answer {
  margin: 0 8.6%;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 16px; }

@media (max-width: 767px) {
  .faq__question {
    font-size: 16px; }
  .faq__answer {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px; } }

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .blog-card + .blog-card {
    margin-top: 60px; }
  .blog-card__aside {
    width: 57.2%; }
  .blog-card__image {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover; }
  .blog-card__body {
    width: calc(100% - 57.2% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog-card__header {
    margin-bottom: 20px;
    text-decoration: none;
    color: #000; }
  .blog-card__title {
    font-size: 32px;
    color: #650300;
    margin-bottom: 2px; }
  .blog-card__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog-card__alias {
    font-size: 20px; }
  .blog-card__date {
    font-size: 16px;
    opacity: 0.7; }
  .blog-card__action {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .blog-card__copy {
    height: 240px;
    font-size: 20px;
    color: #555; }
  .blog-card__link {
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #650300;
    text-decoration: none;
    text-transform: uppercase; }
    .blog-card__link:hover {
      opacity: 0.5; }

@media (max-width: 992px) {
  .blog-card {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-bottom: 24px; }
    .blog-card__aside {
      width: 50%; }
    .blog-card__image {
      height: 208px; }
    .blog-card__body {
      position: relative;
      width: calc(100% - 50% - 30px); }
    .blog-card__header {
      margin-bottom: 0; }
    .blog-card__title {
      font-size: 20px;
      margin-bottom: 0; }
    .blog-card__subtitle {
      margin-top: -4px; }
    .blog-card__alias {
      font-size: 16px; }
    .blog-card__date {
      font-size: 14px; }
    .blog-card__copy {
      height: auto;
      font-size: 14px;
      margin-top: 0; }
    .blog-card__action {
      position: absolute;
      right: 16px;
      bottom: 0; }
    .blog-card__link {
      text-transform: lowercase;
      font-size: 14px;
      color: #555; } }

@media (max-width: 768px) {
  .blog-card__header {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .blog-card {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .blog-card__aside {
      width: 100%;
      margin-bottom: 8px; }
    .blog-card__body {
      width: 100%; }
    .blog-card__action {
      display: none; }
    .blog-card__copy {
      display: none; } }

.blog-detail > .container {
  padding-top: 0;
  padding-bottom: 160px; }

.blog-detail__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.blog-detail__article {
  width: 74.32%; }

.blog-detail__aside {
  width: calc(100% - 74.32% - 30px); }

.blog-detail__title {
  font-size: 48px; }

.blog-detail__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.blog-detail__alias {
  font-size: 28px; }

.blog-detail__date {
  font-size: 16px;
  color: #6c6c6c; }

.blog-detail__image {
  width: 100%;
  height: 472px;
  -o-object-fit: cover;
     object-fit: cover; }
  .blog-detail__image--cover {
    height: 539px; }

.blog-detail__paragraph {
  font-size: 20px;
  opacity: 0.6;
  margin: 24px 0 40px; }

.blog-detail__footer {
  width: 74.32%;
  margin-top: 8px; }

.blog-detail__share-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog-detail__share-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px; }

.blog-detail__share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog-detail__share-item + .blog-detail__share-item {
  margin-left: 16px; }

.blog-detail__share-link {
  display: block; }
  .blog-detail__share-link:hover {
    opacity: 0.5; }

.blog-detail__hr {
  color: #707070;
  margin: 20px 0 24px; }

.blog-detail__nextprev-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog-detail__nextprev-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 19px;
  cursor: pointer; }
  .blog-detail__nextprev-link:hover {
    opacity: 0.5; }

.blog-detail__nextprev-icon {
  font-size: 24px !important; }
  .blog-detail__nextprev-icon--prev {
    margin-right: 8px; }
  .blog-detail__nextprev-icon--next {
    margin-left: 8px; }

@media (max-width: 768px) {
  .blog-detail > .container {
    padding-bottom: 96px; }
  .blog-detail__title {
    font-size: 32px; }
  .blog-detail__alias {
    font-size: 16px; }
  .blog-detail__date {
    font-size: 14px; }
  .blog-detail__image {
    height: 292px; }
    .blog-detail__image--cover {
      height: 333px; }
  .blog-detail__paragraph {
    font-size: 16px;
    margin: 16px 0 24px; }
  .blog-detail__footer {
    width: 100%; }
  .blog-detail__share-title {
    font-size: 16px;
    margin-right: 16px; }
  .blog-detail__share-icon {
    width: 20px;
    height: 20px; }
  .blog-detail__hr {
    margin: 20px 0 16px; }
  .blog-detail__nextprev-link {
    font-size: 16px; }
  .blog-detail__nextprev-icon {
    font-size: 24px !important; }
    .blog-detail__nextprev-icon--prev {
      margin-right: 8px; }
    .blog-detail__nextprev-icon--next {
      margin-left: 8px; } }

@media (max-width: 767px) {
  .blog-detail > .container {
    padding-bottom: 56px; }
  .blog-detail__article {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .blog-detail__aside {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .blog-detail__title {
    font-size: 20px; }
  .blog-detail__alias {
    font-size: 14px; }
  .blog-detail__image {
    height: 225px; }
    .blog-detail__image--cover {
      height: 225px; }
  .blog-detail__footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .blog-detail__hr {
    margin: 16px 0 10px; }
  .blog-detail__nextprev-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px; }
  .blog-detail__nextprev-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    .blog-detail__nextprev-link + .blog-detail__nextprev-link {
      margin-top: 8px; }
  .blog-detail__nextprev-text--next {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .blog-detail__nextprev-icon {
    font-size: 24px !important; }
    .blog-detail__nextprev-icon--prev {
      margin-right: 0; }
    .blog-detail__nextprev-icon--next {
      margin-left: 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

/*# sourceMappingURL=all.css.map */
