.text-primary {
	color: $cl-primary;
}

.bg-primary {
	background-color: $cl-primary;
}

.text-fantasy {
	color: $fantasy;
}

.text-white {
	color: #fff;
}

.text-fantasy {
	color: $fantasy;
}

.text-bunker {
	color: $bunker;
}

.text-bright-red {
	color: $bright-red;
}

.text-lonestar {
	color: $lonestar;
}

.text-shark {
	color: $shark;
}

.bg-fantasy {
	background-color: $fantasy;
}

.bg-bunker {
	background-color: $bunker;
}

.bg-bright-red {
	background-color: $bright-red;
}

.bg-lonestar {
	background-color: $lonestar;
}

.bg-quincy {
	background-color: $quincy;
}

.bg-tuscany {
	background-color: $tuscany;
}
