.internal-title {
	color: #000;
	font-size: 48px;
	font-weight: bold;
	padding-left: 16px;
	border-left: 8px solid $tamarillo;
	margin-bottom: 60px;
}

.internal-subtitle {
	color: #000;
	font-size: 32px;
	margin-bottom: 36px;
}

@include pad {
	.internal-title {
		border-left-width: 4px;
		margin-bottom: 40px;
	}
}

@include mobile {
	.internal-title {
		padding-left: 8px;
		font-size: 28px;
		margin-bottom: 28px;
	}

	.internal-subtitle {
		font-size: 20px;
		margin-bottom: 24px;
	}
}
