// https://chir.ag/projects/name-that-color

$fantasy: #fbf2f2;
$bunker: #111619;
$bright-red: #aa0601;
$lonestar: #650300;
$quincy: #5f3e2d;
$tuscany: #b75929;
$tamarillo: #9f1213;
$shark: #212529;
$iron: #cfd2d6;
$rosewood: #500300;

$cl-primary: $bright-red;
$cl-secondary: $fantasy;
